
.mall-container {
    width : 960px;
    height : 100%;
    padding-top : 56px;
    margin : 0 auto;
}
.step-flag{
    position : fixed;
    top : 0;
    right : 0;
    left : 240px;
    z-index : 9999;
    height : 56px;
    padding : 0 40px;
    background : #fff;
    -webkit-box-shadow : 5px 6px 4px rgba(213,209,209,.5);
    box-shadow : 5px 6px 4px rgba(213,209,209,.5);
}
p{
    font-size : 16px;
    font-weight : 400;
    /* line-height : 56px; */
    color : #202020;
    text-align : left;
}
.my-integral{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    width : 960px;
    height : 160px;
    margin : 46px auto;
    background : url('https://by-image.oss-cn-shanghai.aliyuncs.com/yfront/static/user/mall/pic_beijing0_jifen.png') 100% 100%;
    background-size : cover;
}
.pre-price{
    margin-left : 100px;
    font-size : 20px;
    font-weight : bold;
    color : #fff;
}
h3{
    font-size : 50px;
    font-weight : bold;
    color : #fff;
}
.pro-main{
    width : 1000px;
}
h1{
    padding-bottom : 20px;
    font-size : 16px;
    color : #333;
}
.pro-list{
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    align-items : center;
    width : 1000px;
}
.pro-item{
    width : 25%;
    padding : 0 30px 50px 0;
}
.menu-main{
    display : flex;
}