.pro-item-main{
    display : flex;

    
}
.pro-item-container {
    width : 210px;
    margin-right : 40px;
    overflow : hidden;
    border-radius : 6px;
    box-shadow : 0px 3px 8px #cecece;
}
.pro-pic {
    width : 210px;
    height : 210px;
    overflow : hidden;
    border-radius : 4px;
}
.pro-info {
    width : 210px;
    padding : 10px;
}
.pro-item-name {
    overflow : hidden;
    font-size : 16px;
    font-weight : 400;
    color : #333;
    text-overflow : ellipsis;
    white-space : nowrap;
}
.pro-change {
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    padding-top : 8px;
}
.pro-integral {
    display : flex;
    flex-direction : row;
    align-items : center;
}
.img {
    width : 20px;
    height : 20px;
    margin-right : 4px;
}
.price {
    font-size : 14px;
    font-weight : 400;
    line-height : 20px;
    color : #6964d1;
}
.pro-btn {
    width : 54px;
    height : 20px;
    margin-right : 19px;
    font-size : 14px;
    font-weight : 600;
    color : #fff;
    background-color : #6964d1;
    border : none;
    border-radius : 4px;
}
.renderMenu{
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
}