{% extends 'layout.njk'%}
{% block content %}
<div class="main">

    <div>
        用户名：
        <input type="name" class="username"/>
    </div>

    <div>
        密码：
        <input type="password" class="password"/>
    </div>

    <div>
        确认：
        <input type="password" class="checked"/>
    </div>

    <div>
        <button type="button" class="login-btn" disabled>注册</button>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="/js/login.js"></script>

    <script src="/js/jquery.js"></script>

    <script src="/js/jquery3.5.js"></script>


{% endblock %}