* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.container {
    position: relative;
    margin: 0 auto;
}

.banner {
    position: absolute;
}

.banner-li {
    float: left;
}

.banner-img {
    width: 600px;
    height: 500px;
    display: block;
    /* cursor: pointer; */
}

.arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    background: RGBA(0, 0, 0, .3);
    /* z-index: 200; */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.button_container {
    position: absolute;
}

.button_container_circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background-color: white;
    margin-right: 5px;
    float: left;
}

.on {
    background-color: aqua;
}